*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
    padding:20px;
}

.container{
    max-width:800px;
    margin:auto;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.card{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.flashcard{
    height:120px;
    border:2px solid #ddd;
    margin:15px 0;
    border-radius:10px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    font-size:22px;
    text-align:center;
}

button{
    padding:10px 15px;
    margin:5px;
    border:none;
    background:#007bff;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}

input,select{
    width:100%;
    padding:10px;
    margin-top:10px;
}
